# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment variables & secrets (JANGAN DI-COMMIT)
.env
.env.local
.env.*.local

# Folder runtime data & firmware uploads
data/
data/firmware/
data/firmware.json

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
